{{ input
    type="checkbox"
    class="toggle"
    checked=todo.complete }}

{{#if editing}}
  <input class="edit">
{{ else }}
  <label
    class="{{if todo.complete 'completed'}}"
    {{action "editTodo" on="doubleClick"}}>
      {{todo.title}}</label>
{{/if}}

<button class="destroy"></button>

{{yield}}
